{% extends 'base.html.twig' %}

{% block title %}Hello Drafts!{% endblock %}

{% block body %}
    <div class="example-wrapper">
        <h1>Overzicht van alle bestaande drafts:</h1>

        <ul>
            {% for draft in drafts %}
                <li><a href="{{ path('draft_show',{'id': draft.id}) }}">{{ draft.title }}</a></li>
            {% endfor %}
            <a href="{{ path('draft_new') }}"><button>Nieuwe draft toevoegen</button></a>
        </ul>
    </div>
{% endblock %}
